<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Recebemos solicitação para troca de senha</p>
  <p>Se foi você, segue o link abaixo para alteração:</p>
  <p>
    <a href="{{link}}" >Resetar minha senha</a>
  </p>
  <p>Caso contrário, favor descarte este e-mail.</p>
  <p>
    Obrigado!<br />
    <strong>Equipe GoBarber</strong>
  </p>
</div>
